.fileupload {
    margin: 10px;
    max-width: 800px;
}

.choosefile {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;

}

.filepicker {
    width: 100%;
    text-align: right;
    padding: auto;
}