.post-link {
    text-decoration: underline;
    color: inherit
}

.post-link:hover {
    color: var(--red-bright);
}

.post {


    margin: 5px;
    background-color: var(--post-color-2);

    color: black;
    width: unset;
}

.post:hover {
    box-shadow: inset 0 0 3px black;
}

.nofound {
    cursor: unset;
    height: 60px;
    text-align: center;
}

.nofound:hover {
    box-shadow: unset;
}

.nofound .postcell1 {
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
}

.postcell1,
.postcell2,
.postcell3,
.postcell4,
.postcell5 {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postcelldata .post-link div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.postcell4.postcelldata {
    white-space: unset;
    font-size: 0.7em;

}


.postcell1 {
    width: 55%;
}

.postcell2,
.postcell3,
.postcell4,
.postcell5 {
    text-align: center;
}

.postcell5 {
    border-right: none;
}

.failedSearchMessage {
    color: black;
    font-family: darkest;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 1.2rem;


    border: none;
}

.failedsearch {
    border: unset;
}