.posttableheader {
    color: white;
    background: var(--red-bright);
    height: 30px;
}

.posttable {
    table-layout: fixed;
}

/* Default styles for larger screens */
.postcell3,
.postcell5 {
    display: table-cell;
}

/* Media query for screens smaller than 768 pixels (adjust the value as needed) */
@media only screen and (max-width: 800px) {

    .postcell3,
    .postcell5 {
        display: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border-radius: 2px;
}


td {
    width: auto;
    height: 35px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    font-weight: bolder;
    text-align: start;

    border-right: 1px solid rgb(200, 200, 200);
    padding: 0px;
}

tr:nth-child(even) {
    background-color: var(--post-color-1);
}