@font-face {
    font-family: darkest;
    src: url(/src/assets/Fonts/darkest.ttf)
}

:root {
    --navbar-radius: 0.2rem;
    --search-height: 2.5rem;
    --search-padding: 10px;
    --header-padding: 8px;

    --bg-color-1: rgb(45, 35, 35);
    --bg-color-2: rgb(60, 45, 45);

    --post-color-1: whitesmoke;
    --post-color-2: rgb(230, 230, 230);

    --red-bright: rgb(220, 50, 50);
    --red-dark: rgb(150, 10, 10);

    --faded-red: rgba(200,25,25,0.5);
}

/* This is so the HTML shows up correctly (body doesn't get pushed in) */
html body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}

.welcome *,
footer * {
    margin: 0;
}

/* Header */
header .welcome {
    font-family: darkest;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: orange;

    background-color: black;
    background-size: cover;

    padding-bottom: var(--header-padding);
    padding-top: var(--header-padding);

    border-bottom: #fff;
}


/* Footer */
footer {
    font-family: darkest;
    font-size: 32px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;

    margin-top: 10px;
}

footer .copyright {
    padding-bottom: 8px;
    padding-top: 8px;
}

/* navigation flexbox */
.navbar {
    background-color: #212529;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}

nav>* {
    margin: 0 auto;
    padding: 0 15px;
}

/* Logo */
nav a.logo {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
}

/* Searchbar */
nav .form {
    display: flex;
    margin: auto;
    align-items: center;
}

.search-bar {

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: var(--search-padding);
    border-top-left-radius: var(--navbar-radius);
    border-bottom-left-radius: var(--navbar-radius);
    background-color: rgba(255, 255, 255, 0.1);

    min-height: var(--search-height);
    width: 100%;
    border: 30px;

    color: white;
    font-size: medium;
}

.search-bar:focus {
    outline: none;
    border: none;
}

.search-button {
    cursor: pointer;

    border-top-right-radius: var(--navbar-radius);
    border-bottom-right-radius: var(--navbar-radius);
    background-color: var(--red-dark);

    min-height: var(--search-height);
    padding-left: var(--search-padding);
    padding-right: var(--search-padding);


    border-style: solid;
    border-color: var(--red-bright);
    border-width: 2px;

    color: white;
    font-size: medium;
}

.search-button:hover {
    background-color: rgb(180, 20, 20);
    border-color: rgb(255, 100, 100);
}

.search-button:active {
    filter: saturate(30%);
}

/* right buttons */
nav ul {
    list-style: none;
    display: flex;
    height: 40px;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-item,
.nav-link {
    color: #fff;
    border-radius: var(--navbar-radius);
    white-space: nowrap;

}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
    color: #fff;
}

.nav-item:active {
    filter: saturate(30%)
}

nav form {
    width: 50%;
}

/* Background */
body {
    --s: 50px;
    --c: var(--bg-color-1);
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: rgba(0, 0, 0, 0) 66%, var(--bg-color-2) 68% 70%, rgba(0, 0, 0, 0) 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

/* Media query for mobile */
@media screen and (max-width: 800px) {

    /* Move search bar below other elements */
    nav>* {
        padding: unset;
    }

    .nav {
        flex-wrap: wrap;
    }

    nav a.logo {
        margin: auto;
    }

    nav .form {
        order: 2;
        min-width: 90%;
        max-width: fit-content;
        margin-top: 10px;
    }

    nav .navbar-items {
        order: 3;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    nav ul {
        margin: auto;
        justify-content: space-between;
    }

    main .welcome {
        max-width: 90%;
    }

}

main .welcome {
    font-family: darkest, 'Courier New', Courier, monospace;
    font-size: 2em;
    color: rgba(255, 225, 225, 0.3);
    margin: auto;
    text-align: center;
}

main .welcome h1 {
    color: rgba(255, 200, 200, 0.5);
}


.content {
    max-width: 1800px;
    margin: auto;
    margin-top: 10px;
}

.postcontainer {
    padding: 30px;
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 5px;
    border: rgb(200, 0, 0) solid 1px;


    box-shadow: inset 0 0 20px var(--faded-red), inset 0 0 20px var(--faded-red), inset 0 0 20px var(--faded-red);

}

.post {
    cursor: pointer;

    margin: 5px;
    background-color: var(--post-color-2);

    color: black;
}

.post:hover {
    box-shadow: inset 0 0 3px black;
}

.postcell1,
.postcell2,
.postcell3,
.postcell4,
.postcell5 {
    padding-left: 5px;
    text-overflow: ellipsis;
}

.postcell1{
    width: 55%;
}



table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border-radius: 2px;
}

td {
    width: auto;
    height: 30px;
    
    font-size: 0.8em;
    font-weight: bolder;
    text-align: start;

    border-right: 1px solid #f6f6f6;
    padding: 0px;
}

tr:nth-child(even) {
    background-color: var(--post-color-1);
}

.posttableheader {
    color: white;
    background: var(--red-bright);
    height: 30px;

}